body {
    background-color: #23396D;
    /* Rectangle: */
    // background-image: linear-gradient(0deg, #9FB1D9 0%, #D2FEFF 100%);
    /* Rectangle: */
// background-image: linear-gradient(0deg, #D84E4E 0%, #FDCB7E 100%);
    // background: radial-gradient(circle at top, #FFF2B7 4%, #F3C48A 40%) no-repeat;
    min-height: 100vh;
}

body * {
    box-sizing: border-box;
    font-weight: 300;
    color: #719CFC;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

header {
    h1 {
        text-align: center;
        color: #fff;
        font-size: 50px;
        font-family: 'Dancing Script', cursive;
        margin: 80px;
    }
}

main {
    width: 80vw;
    margin: 0 auto;
}

.search {
    padding: 5px;
    input {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font-size: 20px;
        outline: none;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: transform .1s ease-in-out, box-shadow .2s ease-in-out;
        border-radius: 10px;
        background-color: #3C599D;
        text-align: center;
        &:focus {
            transform: scale(1.05);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
        &::placeholder {
            color: #23396D;
        }
    }
}
.emoji {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    color: #23396D;
    li {
        padding: 5px;
        width: 8vw;
        height: 8vw;
        text-align: center;
    }
    .cover {
        background: #719CFC;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform .1s ease-in-out, box-shadow .2s ease-in-out;
        border-radius: 10px;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
    }
    .meta {
        display: none;
    }
    h3 {
        display: inline-block;
        margin: 0;
        font-size: 30px;
        color: #23396D;
    }
}

@media screen and (max-width: 768px) {
    main {
        width: 95vw;
    }
    header {
        h1 {
            font-size: 40px;
        }
    }
    .emoji {
        li {
            width: 19vw;
            height: 19vw;
        }
        h3 {
            font-size: 20px;
        }
    }
}

.pagination {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 80px;
    a {
        text-align: center;
        text-decoration: none;
        font-family: inherit;
        display: inline-block;
        // background-color: #719CFC;
        color: #719CFC;
        margin: 0 2px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        border-radius: 50%;
        &.active {
            background-color: #719CFC;
            color: #23396D;
        }
    }
}

.loading {
    text-align: center;
    margin: 40px;
}